.post-creator {
    width: 70vw;
    margin: 30px auto;
    justify-content: space-around;
    background-color: white;
    padding: 30px;
}

.drop-label {
    font-size: 12px;
    color: #B5B5B5;
    display: block;
}

.pointer {
    cursor: pointer;
}

.dropdown-menu {
    width: 80vw !important;
    margin-left: -22px !important;
    max-width: 300px !important;
}

.submit {
    width: 88px;
    margin: 10px auto;
    display: block !important;
}

.add-more {
    margin: 0 auto;
    width: 175px !important;
}

.field-space {
    margin-top: -15px;
}