.filter-list > div > div {
    color: gray;
}

.post-view {
    text-align: center;
}

.home-drawer {
    text-align: left;
}
.remove-outline:focus {
    outline: none;
}

.remove-outline {
    cursor: pointer;
    padding-bottom: 10px;
}

.posts-edit {
    padding-top: 30px;
    width: 80vw;
    margin: auto;
    
}

.post-title {
    margin-bottom: 10px;
}

.act-title {
    font-size: 25px;
    font-weight: bold;
    color: #EE4760;
}

.orig-title {
    font-size: 25px;
    color: #EE4760;
    font-weight: bold;
}

.hr-buff {
    padding-bottom: 20px;
}

.actions {
    display: table-cell;
    position: relative;
    left: 50px;
    /* bottom: 7px; */
    vertical-align: middle;
}