.checkin-parent {
    position: relative;
    .checkin-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 20px;
        font-weight: bold;
    }
    .good {
        color: #56B757;
    }
    .error {
        color: #E54D42;
    }
}