@media only screen and (max-width: 768px) {
    .remove-outline:focus {
        outline: none;
    }
    
    .remove-outline {
        cursor: pointer;
        padding-bottom: 10px;
    }
    
    .posts-main {
        width: 80vw;
        margin: auto;
    }
}

.post-title {
    margin-bottom: 10px;
}

.act-title {
    font-family: 'BioRhyme', sans-serif;
    font-size: 25px;
    font-weight: bold;
    color: #575B61;
}

.orig-title {
    font-size: 25px;
    color: #114B5F;
    font-weight: bold;
}

.post-desc {
    max-width: 350px;
    margin: auto;
    margin-top: 10px;
}

.mt10 {
    margin-top: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.new-style {
    /* background-color: #69F43B; */
    display: table;
    margin: 0px auto;
}

.card {
    padding: 20px 10px;
    max-width: 500px;
    margin: auto;
    margin-bottom: 10px;
}