.post-creator {
    width: 70vw;
    margin: auto;
    justify-content: space-around;
}

.drop-label {
    font-size: 12px;
    color: lightgray;
    display: block;
}

.pointer {
    cursor: pointer;
}