.header {
    /* background-color: #25798F !important; */
    text-align: center;
    background-color: #3D5A80 !important;
    /* background-color: #EB8946 !important; */
}

.title {
    color: #ffffff;
}

.normalize-link {
    text-decoration: none;
    cursor: pointer;
}
