.filter-list > div > div {
    color: gray;
}

.post-view {
    text-align: center;
}

.home-drawer {
    text-align: left;
}
.remove-outline:focus {
    outline: none;
}

.remove-outline {
    cursor: pointer;
    padding-bottom: 10px;
}

.posts-main {
    padding-top: 30px;
    width: 80vw;
    margin: auto;
    
}

.post-title {
    margin-bottom: 10px;
}

.act-title {
    font-size: 25px;
    font-weight: bold;
    color: #605856;
}

.orig-title {
    font-size: 25px;
    color: #605856;
    font-weight: bold;
}

.hr-buff {
    padding-bottom: 20px;
}