$green: #09A129;
$lightgrey: #aaa;
$darkgrey: #8f97a0;
$midgrey: #808a94;
$red: #FF5964;

$teal: #0b9ea3;
$coral: #ee6566;
$lightblue: #43b9d6;
$yellow: #efac0d;
$purple: #6185c8;
// $green: #75d5bc;
$turquoise: #57cdc6;

$palesky: #6E7883;
$primary-bg: #ededed;
$secondary-bg: #fff;
$teal-gradient: #34b1b6;
$coral-gradient: #f38383;
$yellow-gradient: #f5be18;
$purple-gradient: #809cd5;
$green-gradient: lighten($green, 10%);
$lightblue-gradient: lighten($lightblue, 10%);
$turquoise-gradient: #75d7d2;
$base-padding: 15px;
$base-margining: 15px;